<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MuseumDB;Integrated Security=True"
			 providerName="System.Data.SqlClient"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
</configuration>
